$dark-contrast: rgb(23, 37, 42);
$darker-base: rgb(43, 122, 120);
$base-color: rgb(58, 175, 169);
$lighter-base: rgb(222, 242, 241);
$light-contrast: rgb(245, 256, 256);

body {
  background: $base-color;
}