$amaranth-red: rgba(215, 38, 56, 1);
$blue-violet-color-wheel: rgba(85, 26, 139, 1);
$green-blue-crayola: rgba(63, 136, 197, 1);
$deep-saffron: rgba(244, 157, 55, 1);
$red-pigment: rgba(242, 43, 41, 1);

.container {
  display: grid;

  grid-template-columns: 1fr 5fr;

  grid-template-areas:
    "left right"
  ;
}

nav {
  grid-area: left;
}

main {
  grid-area: right;
}