#welcome {
  background: linear-gradient(#f79f47, #f78513);
  
  h1 {
    color: white;
    font-size: 50px;
  }

  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
    box-shadow: 8px 8px 4px 1px rgba(0, 0, 0, .3);
  }
}